{% set sitename="App Store Analytics" %}
<!DOCTYPE html>
<html>
<head>
  <title>{{sitename}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if STYLE_URL %}
      <link rel="stylesheet" href={{STYLE_URL}}>
    {% endif %}
</head>
<body>
  <div id="react-app"></div>
  {% include 'partials/loader.html' %}
  <script type="text/javascript" src={{SCRIPT_URL}}></script>
  <iframe src="{{LOGIN_URL}}/auth/frame/{{LOGIN_TOKEN}}"
          width=0
          height=0
          style="visibility: hidden; position:absolute"
          frameborder=0
          marginheight=0
          marginwidth=0
          scrolling=no>
  </iframe>
</body>
</html>
