
.datePicker {

  .datePicker-input-container {

    .icon.t-icon {
      width: 18px;

      svg {
        path {
          fill: #CDD1D8;
        }
      }

      position: relative;
      top: 2px;
      margin: 0 10px;
    }

    .datePicker-date-wrapper {
      position: relative;
      margin-left : 10px;
    }

    position: relative;
    border-bottom: 1px solid #CDD1D8;
    transition: all 200ms ease;
    border-radius: 2px;
    color: #2B3B43;
    display: flex;
    padding: 2px;
    align-items : center;
  }
}